﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <!-- Icon Cards -->
    <div class="row">
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-dashboard"></i>
                    </div>
                    <div class="mr-5" id="divpoints">
                        26 Points
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5" id="divsteps">
                        3500 Steps
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-clock-o"></i>
                    </div>
                    <div class="mr-5" id="divminuits">
                        200 Minuits
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="card mb-3" id="divdata">

        @Html.Action("LoadCalendar", "Home")

    </div>

</div>